{% extends "public/template.html" %} {% block title %}Main App{% endblock %} {%
block main %}
<!--   Big container   -->
<div class="container">
  <div class="row text-center justify-content-center">
    <div class="row" style="display: inline; width: 100%">
      <h2>Excel data cleaner</h2>
    </div>
    <h4>
      Perbaiki data excel dari format format. Upload satu file excel dan temukan
      perbedaannya
    </h4>
    {% if feedback %}
    <p class="text-{{status}}">{{feedback}}</p>
    {% endif %}
  </div>
  <div class="row outer-box border text-center">
    {% if status=='success' %}
      <div class="m-5 w-100">
        <a class="btn-submit" href="{{url_for('static', filename='uploads/'+filenameXlsx)}}"
          >Download File (xlsx)</a
        >
        <a class="btn-submit" href="{{url_for('static', filename='uploads/'+filenameXls)}}"
          >Download File (xls)</a
        >
        <a class="btn-submit" href="{{url_for('static', filename='uploads/'+filenameCsv)}}"
          >Download File (csv)</a
        >
      </div>
      <div class="w-100">
        <!-- Button trigger modal -->
        <button type="button" class="btn-submit" data-toggle="modal" data-target="#exampleModal">
          Daftar Yang Telah Di Proses
        </button>
      </div>
    {% endif %}
    <div class="row inner-box border text-center w-100">
      {% if status=='success' %} 
      
      <div class="table-result">
        <table id="DataTable" class="cell-border" style="width: 100%">
          <thead>
            <th>No.</th>
            {%for i in range(0, column|length)%}
            <th>
              {{column[i]}} {% if column[i]=="Agama" %}
              <i
                class="fa fa-info-circle"
                data-toggle="tooltip"
                data-placement="top"
                title="ISLAM, HINDU, BUDHA, PROTESTAN, KATHOLIK, KONGHUCU"
              ></i>
            </th>
            {% endif %} {%endfor%}
          </thead>
          <!-- prettier-ignore -->
          <tbody>
              {%for i in range(0, df_processed|length)%}
              <tr>
                <td>{{i+1}}</td>
                {%for j in range(0, df_processed[i]|length)%}
                
                {% set data_baru = df_processed[i][j]|string| replace("'", "")  %}

                {% set data_lama = df_upload[i][j]|string| replace("'", "")  %}

               
                <td
                  {% if (data_lama != data_baru) or (data_lama == "") %}
                  class="beda"
                  {% endif %}
                  >
                  <p style="font-weight: bold;">
                      {{data_baru}} 
                  </p>
                  {% if data_lama != data_baru %}
                  <p style="color: rgb(80, 80, 80);">Data Sebelumnya : {{data_lama}}</p>
                  {% endif %}
                </td>
                {%endfor%}
              </tr>
              {%endfor%}
            </tbody>
        </table>
      </div>

      {% else %}
      <form
        class="form-custom"
        action="/upload"
        method="post"
        enctype="multipart/form-data"
      >
        <p id="filename"></p>
        <label
          class="custom-file-upload"
          for="excel_file"
          id="label-input-file"
        >
          <i class="fa fa-file-text-o" aria-hidden="true"></i>
          <span class="text-input-file">Choose File</span>
        </label>
        <input type="file" id="excel_file" name="excel_file" />
        <input type="submit" class="btn-submit" value="Start" id="btn-submit" />
      </form>
      {% endif %}
    </div>
  </div>
</div>

{% if status=='success' %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Daftar Revisi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Jika ada yang tidak bisa diperbaiki oleh sistem ini, mohon diperbaiki secara manual 🙏</p>
        <p>Dengan cara download excel ini, lakukan perubahan, dan coba upload kembali</p>
        <table id="table-revisi">
          <thead>
            <th>No.</th>
            <th>Kolom</th>
            <th>Baris</th>
            <th>Data Lama</th>
            <th>Data Baru</th>
          </thead>
          <tbody>
            {%for i in range(0, daftar_revisi|length)%}
            <tr>
              <td>{{i+1}}</td>
              <td>{{daftar_revisi[i][0]}}</td>
              <td>{{daftar_revisi[i][1]+1}}</td>
              <td>{{daftar_revisi[i][2]}}</td>
              <td>{{daftar_revisi[i][3]}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %} {% block script %}
<script>
  $("#DataTable").DataTable({
    paging: false,
    ordering: false,
    info: false,
    searching: false,
    fixedColumns: {
      left: 1,
    },
  });
  $("#table-revisi").DataTable({
    paging: false,
    ordering: false,
    info: false,
    searching: false,
  });
  $("#btn-submit").hide();
  $("#excel_file").change(function () {
    let i = $("#excel_file")[0].files[0].name;
    $("#filename").text(i);
    $("#label-input-file").hide();
    $("#btn-submit").show();
  });
</script>
{% endblock %}
