{% extends "includes/templates.html" %} {% block title %}Main App{% endblock %}
{% block main %}

<!--   Big container   -->
<div class="container">
  {% include 'includes/error.html' %}
  <div class="row text-center justify-content-center">
    <div class="row" style="display: inline; width: 100%">
      <h2>Excel data cleaner</h2>
    </div>
    <h4>
      Perbaiki data excel dari format format. Upload satu file excel dan temukan
      perbedaannya
    </h4>
    {% if feedback %}
    <p class="text-{{status}}">{{feedback}}</p>
    {% endif %}
  </div>
  <div class="row outer-box border text-center" id="daftar-excel">
    <div class="container m-2 p-0">
      <div class="col-2">
        <div class="row form-group">
          <select
            name="filter-file"
            class="form-control"
            id="exampleFormControlSelect1"
          >
            <option value="Semua" selected>Semua</option>
            <option value="fix">Fix</option>
            <option value="revisi">Perlu revisi</option>
          </select>
        </div>
      </div>
    </div>
    <div class="container mb-5">
      <div class="table-responsive" id="tabel-daftar-nama-file">
        <table
          class="table table-bordered"
          id="DataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>No.</th>
              <th>Nama File</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {%for nama_file in daftar_nama_file%}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{nama_file}}</td>
              <td>
                <!--  -->
                {% if path_dict[nama_file] == 'fix' %}
                <a
                  class="btn btn-primary btn-sm m-1"
                  href="{{url_for('static', filename='uploads/fix/'+nama_file+'.xls')}}"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Download Xls"
                  >Download</a
                >
                <!--  -->
                {% endif %}
                <!--  -->

                {% if '-full' in path_dict[nama_file] %}
                <a
                  class="btn btn-primary btn-sm m-1"
                  href="{{url_for('static', filename='uploads/revisi/'+nama_file+'-full.xls')}}"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Semua data termasuk valid dan non valid"
                  >Download Full</a
                >
                <!--  -->
                {% endif %}
                <!--  -->
                {% if '-not-valid-revisi' in path_dict[nama_file] %}
                <a
                  class="btn btn-primary btn-sm m-1"
                  href="{{url_for('static', filename='uploads/revisi/'+nama_file+'-not-valid-revisi.xls')}}"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Data non valid"
                  >Not Valid</a
                >
                <!--  -->
                {% endif %}
                <!--  -->
                {% if '-valid-revisi' in path_dict[nama_file] %}
                <a
                  class="btn btn-primary btn-sm m-1"
                  href="{{url_for('static', filename='uploads/revisi/'+nama_file+'-valid-revisi.xls')}}"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Data valid"
                  >Valid</a
                >
                <!--  -->
                {% endif %}
                <!--  -->
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Detail Kolom"
                >
                  <button
                    type="button"
                    class="btn btn-primary btn-sm m-1 btn-detail-kolom"
                    data-toggle="modal"
                    data-target="#detailKolom"
                    data-nama-file="{{nama_file}}"
                  >
                    Detail Kolom
                  </button>
                </span>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="detailKolom"
  tabindex="-1"
  role="dialog"
  aria-labelledby="detailKolomLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailKolomLabel">Detail Kolom</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p>
            Berikut adalah daftar kolom yang telah diperiksa beserta jumlah
            baris yang kosong
          </p>
          <div id="content-detail-kolom"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script>
  var table = $("#DataTable").DataTable({
    paging: false,
    ordering: false,
    info: false,
    searching: false,
    fixedColumns: {
      left: 1,
    },
  });
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $('[name="filter-file"]').on("change", function () {
      console.log("first");
      var filter = $(this).val();
      table.destroy();
      $("#DataTable").remove();
      const a = $("#tabel-daftar-nama-file");
      let url = "{{ url_for('excel.daftar_excel') }}" + filter;
      $("#tabel-daftar-nama-file").load(url, function () {
        console.log("second");
        table = $("#DataTable").DataTable({
          paging: false,
          ordering: false,
          info: false,
          searching: false,
          fixedColumns: {
            left: 1,
          },
        });
      });
    });
    $(".btn-detail-kolom").on("click", function () {
      var nama_file = $(this).data("nama-file");
      nama_file = encodeURI(nama_file);
      console.log(nama_file);
      let url =
        "{{ url_for('excel.detail_kolom',filename=':filename') }}".replace(
          ":filename",
          nama_file
        );
      $("#content-detail-kolom").load(url);
    });
  });
</script>
{% endblock %}
